// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress {
  height: auto;
  margin: 0.2em 0;
  max-width: 600px;
  .bar {
    display: none;
    color: white;
    height: auto;
    padding: 0.5em;
  }
}